<h1>New User</h1>
<!-- <form action="/users" method="post" accept-charset="UTF-8" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email:</label>
  <input type="email" name="user[email]" value="">

  <label for="username">Username:</label>
  <input type="text" name="user[username]" value="">

  <label for="password">Password:</label>
  <input type="password" name="user[password]" value="">

  <input type="submit" name="" value="Submit">
</form>

<%= form_with(url: users_path, method: "post") do %>
  <%= label_tag :email, "Email:" %>
  <%= email_field_tag :email %>

  <%= label_tag :username, "Username:" %>
  <%= text_field_tag :username %>

  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>

  <%= submit_tag "Add User" %>  
<% end %> 

-->
<%= form_with model: @user do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>

